.detailsContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.col {
  max-width: 500px;
  margin: 15px;
  height: auto;
  height: 80%;
  width: 100%;
}

.movieImage {
  border-radius: 15px;
}

.movieDetails {
  font-size: 1.5rem;
}

.firstItem {
  margin-top: 0;
}
p {
  text-align: left;
}

@media (max-width: 1000px) {
  .movieDetails {
    font-size: 50px;
  }
}

@media (max-width: 500px) {
  .col {
    max-width: 320px;
    width: 100%;
  }
  .movieDetails {
    font-size: 1.5rem;
  }
}
