.movieCard {
  list-style: none; /* eliminar puntos de un li*/
  text-align: center;
}
.movieCard:hover {
  opacity: 0.6;
}

.movieImage {
  border-radius: 10px; /* borde redondeado*/
  background-color: azure; /*color de fonde de la imagen*/
  width: 100%;
  height: auto;
}

@media (max-width: 500px) {
  .movieImage {
    width: 90%;
    height: auto;
  }
}
