.movieCard {
  list-style: none; /* eliminar puntos de un li*/
  font-size: 2rem; /* tamaño de texto*/
  text-align: center;
}

.movieImage {
  border-radius: 10px; /* borde redondeado*/
  background-color: azure; /*color de fonde de la imagen*/
}

@media (max-width: 560px) {
  .movieImage {
    width: 90%;
    height: auto;
  }
}
